 <h1 class="display-4">Upload your Images at: aka.ms/cancwic2019</h1>
 <table class="table">
     <thead>
         <tr>
             <th scope="col">#</th>
             <th scope="col">URL</th>
             <th scope="col">Tags</th>
             <th scope="col">Photo</th>
         </tr>
     </thead>
     <tbody>
         @if (ViewBag.Files != null && ViewBag.Tag_files != null)
         {
             int count = 1;
             foreach (Uri file in ViewBag.Files)
             {
                 <tr>
                     <th scope="row">@count</th>
                     <td>@file</td>
                     <td style="width:190px">@ViewBag.Tag_files[count - 1]</td>
                     <td>
                         <img src="@file.AbsoluteUri" width="200px" />
                     </td>
                 </tr>
                 count++;
             }
         }
     </tbody>
 </table>